.page-header {
	width: 100%;
	border-bottom: 2px solid #ddd;
}

.header-column {
	padding: 10px 10px;
	position: relative;
	@include media(850px) {
		padding-left: 20px;
	}
	@include media(1000px) {
		padding-left: 100px;
	}
}

.logo {
	width: 170px;
	@include media(850px) {
		width: 250px;
	}
}

.burger {
	color: #b36e92;
	position: absolute;
	top: 25px;
	right: 30px;
	@include media(850px) {
		display: none;
	}
}

.header-nav {
	display: none;
	ul {
		margin: 0;
		padding: 15px 0;
	}
	a {
		text-decoration: none;
		color: #484848;
		&:hover {
			color: #3badb0;
		}
		&:active {
			color: #3badb0;
		}
	}
	li {
		@include basesans;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		list-style: none;
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;

	}
	@include media(850px) {
		display: block;
		ul {
			position: absolute;
			top: 60px;
			right: 20px;
			@include media(1000px) {
				right: 100px;
			}
		}
		a {
			
			&:hover {
			color: #484848;
			
			}
			&:active {
			color: #484848;
		}	
		}
		li {
			display: inline-block;
			margin: 0;
			margin-right: 20px;
			padding: 0;
			padding-bottom: 5px;
			border-bottom: 2px solid #ddd;
			&:hover {
				border-bottom: 2px solid #3badb0;
			}
		}
	}
}