---
title: Quilter's Review
---

<header class="page-header">
	<div class="header-outer-container">
		<div class="header-column">
			<img class="logo" src="images/logo.png">
			<i class="fa fa-bars fa-2x burger" aria-hidden="true"></i>
			<nav class="header-nav">
				<ul class="header-nav-list">
					<a href="#"><li class="header-nav-list-item">Finished quilts</li></a>
					<a href="#"><li class="header-nav-list-item">Fabric line</li></a>
					<a href="#"><li class="header-nav-list-item">Tips & tricks</li></a>
					<a href="#"><li class="header-nav-list-item">Contact us</li></a>
				</ul>
			</nav>
		</div>
	</div>
</header>